@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* Imagens */
.formulario img {
    width: 90px;
    margin: 0 auto;
    height: auto;
}

.coluna-imagem img {
    width: 500px;
    height: auto;
    max-width: 100%;
}


/* Formatação do Corpo da Página */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Poppins", serif;
    background-color: #14213D;
}

.formulario {
    display: flex;
    flex-direction: column;
    background-color: #FCA311;
    padding: 15px 35px;
    height: 560px;
    width: 400px;
    border-radius: 10px;
}

.formulario h1 {
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
}

.formulario h2 {
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0px 20px;
}

.formulario label {
    font-size: 16px;
    margin: 15px 0px 5px;
}

.formulario input {
    height: 24px;
    outline: none;
    padding: 13px 5px;
    border-radius: 5px;
    font-size: 15px;
    color: #14213D;
    font-weight: 300;
    border: 1px solid #d9d9d9;
    background-color: #f5f5f5;
}

.formulario input:focus {
    background-color: white; 
    border: 1px solid #14213D;
}

.formulario select{
    cursor: pointer;
    color: #14213D;
    margin-bottom: 20px;
    height: 35px;
    text-align: center;
    text-transform: uppercase;
    outline: none;
    border: none;
    background-color: #f5f5f5;
    font-weight: bolder;
}


.formulario option {
    cursor: pointer;
}

.selecionar-modelo {
    padding-top: 5px;
}

.botao {
    border: none;
    text-transform: uppercase;
    background-color: #14213D;
    color: white;
    height: 50px;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.3s;
}

.botao:hover {
    background-color: #1f315a;
}

/* Formatação da Segunda Div onde contẽm a imagem */

.coluna-imagem {
    width: 500px;
    color: white;
    margin-left: 20px;
}

.coluna-imagem strong {
    color: #FCA311;
}

.coluna-imagem h1 {
    font-size: 25px;
    margin-bottom: 10px;
}

.coluna-imagem h2 {
    font-size: 16px;
    font-weight: 200;
}


/* Medias Querys */

@media (max-width: 768px) {
        .container {
            display: flex;
            flex-direction: column;
            padding: 20px 35px;
            height: 100%;
        }

        .formulario {
            max-width: 100%;
        }

        .coluna-imagem {
            margin-top: 40px;
            max-width: 100%;
            margin-left: 0;
        }

        .coluna-imagem h1 {
            text-align: justify;
        }

        .coluna-imagem img {
            margin-top: 10px;
        }
    }   